@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
$text-color: #f0f0f0;
$text-color-secondary: #b3c5cd;

$primary-color: #21b6b7;

$background-color: #252329;
$background-color-dark: #3c393f;
$background-color-light: #120f13;
$font-family: "Poppins", sans-serif;
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);

// [data-theme="light"] {
//    $text-color: #124a63;
//    $text-color-secondary: #b3c5cd;

//    $primary-color: #21b6b7;

//    $background-color: #f9f9f9;
//    $background-color-dark: #eef3f6;
//    $background-color-light: white;
// }

// [data-theme="dark"] {
//    $text-color: #f0f0f0;
//    $text-color-secondary: #b3c5cd;

//    $primary-color: #21b6b7;

//    $background-color: #252329;
//    $background-color-dark: #3c393f;
//    $background-color-light: #120f13;
// }

html,
body {
   padding: 0;
   margin: 0;
   font-family: $font-family;
   background-color: $background-color;
   color: $text-color;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
   color: inherit;
   font: inherit;
}

@import "../pages/_index";
@import "../pages/components/Layout/layout";
@import "../pages/components/Search_Input/search-input";
@import "../pages/components/CountriesTable/countriesTable";
